#about-us {
    .home {
        background-image: url("../assets/img/banner.png");
        background-position: fixed;
        height: 550px;
        .title {
            text-align: center;
        }
    }
    .about-intro {
        margin-top: 20px;
        h2, h3 {
            text-align: center;
            span {
                font-weight: bold;
            }
        }
        p {
            font-size: 10px;
        }
        .funcy-features {
            article {
                text-align: center;
                img {
                    max-width: 200px;
                    // text-align: center;
                    width: 60%;
                    height: 200px;
                }
                h4 {
                    font-weight: bold;
                }
            }
        }
    }
}
