.panel.panel-product {
    cursor: pointer;
    .panel-body {
        padding: 0;
    }
    picture {
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    p {
        font-size: 10px;
        text-align: center;
        height: 50px;
    }
    .btn {
        height: 30px;
    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .panel-footer {
        background-color: white;
    }
}
