#sidebar-right {
    @include mobile {
        & {
            visibility: hidden;
        }
    }
    background-color: white;
    text-align: center;
    h6 {
        font-weight: bold;
    }
    p {
        font-size: 12px;
    }
    .btn {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        &.fb-btn {
            background-color: #4CAF50;
        }
        &.tw-btn {
            background-color: #3b5998;
        }
    }
}
