@import 'normalize';
@import 'variables';
@import 'responsive';
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'main-page';
@import 'items';
@import 'about-us';
@import 'modal';
@import 'forms';
@import 'geo';
@import 'web-movil';
@import 'join-funcy';
@import 'panel-right';
@import 'panel-left';
@import 'footer';
@import 'typo';
body {
    font-size: 16px;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}

main {
    margin-top: 120px;
}
